.ban{
    /* background-image: url(../images/Banner\ Image.png); */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 600px;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);

 
} 
 .bancom{
    text-align: center;
    padding-top: 130px;
    color: antiquewhite;
}
.H{
    color: rgba(255, 255, 255, 1);

font-family: Merriweather;
font-style: Regular;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
H2{
    color: rgba(255, 255, 255, 1);

font-family: Merriweather;
font-style: Black;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}
.sh1{
    color: rgba(255, 0, 0, 1);

font-family: Inter;
font-style: Bold;
font-size: 88px;
font-weight: 700;
line-height: 106px;
letter-spacing: 0%;
text-align: center;
}
.par{
    color: rgba(255, 0, 0, 1);

font-family: Inter;
font-style: Medium;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}
.sh2{
    color: rgba(7, 2, 17, 1);

font-family: Inter;
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
}
.img{
    width: 100%;
    padding-left: 200px;
}
.sale1{
    display: flex;
    flex-direction: column;
}
.b{color: rgba(255, 255, 255, 1);

font-family: Merriweather;
font-style: Black;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
padding-top: 200px;
padding-left: 100px;
                }
.par2{
    color: rgba(255, 255, 255, 0.8);

font-family: Inter;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding-left: 100px;
}
.bsmall{
    color: rgba(255, 255, 255, 1);

font-family: Inter;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
padding-left: 100px;
}
.SA2{
    /* background-image: url(../images/Vectorrr.png); */
    border-radius: 16px;
background: linear-gradient(90.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
background-size: cover;
/* Vector */
width: 1320px;
height: 600px;
}