.ban{
    /* background-image: url(../images/Banner\ Image.png); */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 600px;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);

 
} 
 .bancom{
    text-align: center;
    padding-top: 130px;
    color: antiquewhite;
}
.H{
    color: rgba(255, 255, 255, 1);

font-family: Merriweather;
font-style: Regular;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
H2{
    color: rgba(255, 255, 255, 1);

font-family: Merriweather;
font-style: Black;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}